/* Source sans pro from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Reset CSS*/
* {
  box-sizing: border-box;
}
body {
  margin: 0px
}
h1, h2 ,h3 ,h4 ,h5 ,h6, p {
  margin: 0px;
}

/* Custom Properties */
:root {
  /* Colors */
  --color-white: #FFFFFF;
  --color-primary: #FF6565;
  --color-grey: #979797;

  /* Opacity */
  --opacity-9: 0.9;

  /* Fonts family */
  --font-source-sans-pro: 'Source sans pro';

  /* Honts size */
  --font-small-size: 12px;
  --font-medium-size: 14px;
  --font-large-size: 16px;
  --font-extra-large-size: 32px;

  /* Honts weight */
  --font-bold: bold;

  /* Header */
  --header-font-family: var(--font-source-sans-pro);
  --nav-list-item-font-weight: var(--font-bold);
  --nav-list-item-font-size: var(--font-small-size);
}

/* Add Spin Cycle ot regular font */
@font-face {
    font-family: 'spin_cycle_otregular';
    src: url('./fonts/spincycle_ot-webfont.eot');
    src: url('./fonts/spincycle_ot-webfont.eot?#iefix') format('embedded-opentype'),
         /* url('./fonts/spincycle_ot-webfont.woff2') format('woff2'), */
         url('./fonts/spincycle_ot-webfont.woff') format('woff'),
         url('./fonts/spincycle_ot-webfont.ttf') format('truetype'),
         url('./fonts/spincycle_ot-webfont.svg#spin_cycle_otregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Desktop
=========== */

/* Header */
.header {
  max-width: 1400px;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./images/headphones_hero_1.jpg");
}

.header__nav {
  display: flex;
  justify-content: space-between;
  height: 32px;
  max-width: 1000px;
  width: 100%;
  margin: 30px auto;
}

.header__hero {
  max-width: 1000px;
  margin: 0px auto 150px auto;
  text-align: center;
}

/* Nav */
.nav__burguer {
  display: none;
}

.nav__bar {
  display: none;
}

.nav__close {
  display: none;
}

.nav__logo {
  height: 32px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

/* List */
.list__item {
  list-style: none;
}

.list__item a {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--header-font-family);
  font-weight: var(--nav-list-item-font-weight);
  font-size: var(--nav-list-item-font-size);
  cursor: pointer;
}

.list__item a:hover {
  color: var(--color-primary);
}

/* Hero */
.hero__title {
  color: var(--color-white);
  font-family: var(--header-font-family);
  font-size: var(--font-extra-large-size);
}

.hero__subtitle {
  color: var(--color-white);
  font-family: var(--header-font-family);
  margin-bottom: 30px;
  font-size: var(--font-large-size);
}

.hero__action {
  background-color: var(--color-primary);
  border-radius: 22px;
  padding: 15px 20px;
  border: none;
  font-family: var(--header-font-family);
  font-size: var(--font-medium-size);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  margin-bottom: 50px;
  /* box-shadow: 0px 0px 3px 2px var(--color-grey); */
}

.hero__action:hover {
  opacity: var(--opacity-9);
}

.hero__text {
  max-width: 637px;
  color: var(--color-white);
  font-family: var(--header-font-family);
  font-size: var(--font-large-size);
}

/* Tablet
============*/

@media only screen and (max-width: 768px) {
  /* Header */
  .header {
    background-position: center;
  }

  .header__nav {
    justify-content: space-around;
  }
}

/* Mobile
============*/

@media screen and (max-width: 480px) {
    /* Header */
  .header {
    background-position: -350px 0px;
  }

  .header__nav {
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
  }

  /* Nav */
  .nav__burguer {
    display: block;
    height: 32px;
    margin: 0px 90px 0px 16px;
    vertical-align: middle;
    z-index: 2;
    width: 50px;
    opacity: 0;
  }

  .nav__burguer:checked ~ .nav__list {
    display: block;
  }

  .nav__burguer:checked ~  .nav__close {
    display: block;
  }

  .nav__burguer:not(:checked) ~  .nav__bar {
    display: block;
  }

  .nav__bar {
    position: absolute;
    left: 0;
    margin: 0px 0px 0px 20px;
    z-index: 1;
    fill: var(--color-white);
  }

  .nav__close {
    position: absolute;
    left: 0;
    margin: 0px 0px 0px 20px;
    z-index: 1;
    fill: var(--color-white);
  }

  .nav__list {
    display: none;
    text-align: center;
    width: 100%;
  }

  /* List */
  .list__item {
    margin: 15px 0px;
  }

  /* Hero */
  .hero__title {
    padding: 0px 25px;
  }

  .hero__subtitle {
    padding: 0px 25px;
  }

  .hero__text {
    padding: 0px 25px;
  }
}

/* Mobile S and M
============*/

@media screen and (max-width: 375px) {
  /* Nav */
  .nav__burguer {
    margin: 0px 45px 0px 0px;
  }
}
